---
import { getCollection, render } from 'astro:content'
import SiteLayout from '~/layouts/site-layout.astro'
import { Button } from '~/components/ui/button'
import { ChevronLeft } from '~/components/ui/icons'
import '~/styles/blog.css'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return posts.map((post) => {
    return {
      params: { slug: decodeURI(post.data.slug) },
      props: { post },
    }
  })
}
const { post } = Astro.props
const { Content } = await render(post)
---

<SiteLayout title={post.data.title}>
  <article>
    <div class="flex flex-row justify-between">
      <a href="/blog">
        <Button variant="ghost" size="icon">
          <ChevronLeft />
        </Button>
      </a>
    </div>
    <content>
      <Content />
    </content>
  </article>
</SiteLayout>
