---
import '../styles/index.css'
import { Image } from 'astro:assets'
import AboutImage from '../images/about.jpg'
import SiteLayout from '../layouts/SiteLayout.astro'
---

<SiteLayout title="About Zeke Zumbro">
  <div
    class="h-full justify-center bg-zinc-600 px-6 pt-10 text-center align-middle text-white lg:px-8"
  >
    <div>
      <div>
        <Image
          src={AboutImage}
          width="300"
          decoding="auto"
          alt="logo"
          class="mx-auto rounded-md"
          loading="eager"
        />
      </div>
      <div class="pt-2 font-mono font-semibold text-gray-400">
        Disc-Golfer. Dog-lover. Christ-follower.
      </div>
    </div>
    <div class="justify space-y-4 pt-4">
      <p>Enneagram 9 wing 1, who is loves doing thing the "right" way</p>
      <p class="mx-auto text-pretty lg:w-[600px]">
        I am passionate about making processes, code, and life better. I
        currently work at Walmart. I love exploring software and technology from
        unit test frameworks to 3D printers and home.
      </p>
    </div>
  </div>
</SiteLayout>
