---
import type { CollectionEntry } from 'astro:content'
import { Calendar, ArrowRight } from '@/components/ui/icons'
import FormattedDate from '@/components/FormattedDate.astro'
import type { HTMLTag, Polymorphic } from 'astro/types'

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
  post: CollectionEntry<'post'>
  withDesc?: boolean
}

const { as: Tag = 'div', post, withDesc = false } = Astro.props
---

<a
  class="group block space-y-3"
  data-astro-prefetch
  href={`/posts/${post.id}/`}
>
  <div class="flex items-center gap-4 text-sm text-muted-foreground">
    <div class="flex items-center gap-2">
      <Calendar className="h-4 w-4" />
      <FormattedDate date={post.data.publishDate} />
    </div>
    {
      post.data.draft && (
        <span class="rounded-full border border-link/50 bg-link/10 px-2 py-0.5 text-xs font-medium text-link">
          Draft
        </span>
      )
    }
  </div>
  <Tag class="space-y-2">
    <h3
      class="text-2xl font-bold text-accent-2 transition-colors group-hover:text-accent"
    >
      {post.data.title}
    </h3>
  </Tag>
  {
    withDesc && (
      <p class="line-clamp-3 text-muted-foreground">{post.data.description}</p>
    )
  }
  <div
    class="flex items-center gap-2 text-sm font-medium text-link opacity-0 transition-all group-hover:opacity-100"
  >
    Read more
    <ArrowRight
      className="h-4 w-4 transition-transform group-hover:translate-x-1"
    />
  </div>
</a>
