---
import PostHog from '~/components/posthog.astro'
import ThemeHeadScript from '~/components/theme-head-script.astro'
import ThemeDropdown from '../components/ThemeDropdown'
import '~/styles/index.css'
interface Props {
  title: string
}
const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="_image/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <PostHog />
    <ThemeHeadScript />
  </head>
  <body>
    <header class="inset-x-0">
      <nav
        class="flex items-center justify-between p-6 lg:px-8"
        aria-label="Global"
      >
        <div class="flex space-x-4 lg:flex-1">
          <a href="/" class="font-bold">Zeke Zumbro</a>
        </div>
        <ThemeDropdown client:load />
      </nav>
    </header>
    <main class="h-[calc(100vh-72px)] grow flex-col">
      <slot />
    </main>
  </body>
</html>
