name: Deploy to GitHub Pages

on:
  workflow_dispatch:
  schedule: [{ cron: '0 2 * * *' }] # Schedule to run the workflow every day at 0200
  push:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    env:
      PROD: true
    runs-on: ubuntu-24.04
    steps:
      - name: git-checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version

      - name: install
        run: npm ci

      - name: lint & style
        run: npm run format:ci

      - name: notion-to-markdown
        uses: jezumbro/github-action-notion@v1.1.1
        with:
          notion-token: ${{ secrets.NOTION_TOKEN }}
          root-page-id: ${{ secrets.NOTION_ROOT_PAGE_ID }}
          output-dir: './src/content/post'
          cleanup-before: true

      - name: astro-build
        uses: withastro/action@v4

  deploy:
    needs: build
    runs-on: ubuntu-24.04
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
